/*
Author: Rudchyk.Sergii
*/
.box{
	padding: 50px 0;
	margin: auto;
	width: 940px;
}
.popup-link{
  display: inline-block;
  padding-bottom: 15px;
  cursor: pointer;
}
.popup-link-small{
  display: inline-block;
  padding-top: 15px;
  cursor: pointer;
  font-size: 12px;
}
.popupper{
  display: none;
  position: fixed;
  text-align: center;
  font-size: 20px;
  background: white;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  width: 500px;
}
.popupper-close{
  font-size: 11px;
  cursor: pointer;
  text-align: right;
  margin-bottom: 15px;
}
.popupper-close:hover{
  text-decoration: underline;
}
.popup-shadow{
  display: none;
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.popupper_block{
  padding: 50px;
}
.popupper_third.popupper-pos{
  top: 50px;
  left: 0;
}
.popupper_four.popupper-pos{
  top: 150px;
  right: 0;  
}
.popupper_first.popupper-pos{
  top: 250px;
  left: 0;
}
.popupper_second.popupper-pos{
  top: 0;
  right: 0;  
}
.entry{
  position: relative;
}
